{% extends 'base.html' %}
{% load static %}

{% block title %}
    Nosotros - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="{% static 'miblog/images/exe.jpg' %}" class="card-img-top" alt="Imagen Persona 1">
                <div class="card-body">
                    <h5 class="card-title">Exequiel Moreyra</h5>
                    <p class="card-text">Hola! Soy Exequiel Moreyra, un entusiasta de la programación y creador de mundos digitales con sede en Buenos Aires, Argentina. Desde joven, mi fascinación por la tecnología y la creatividad me ha llevado a sumergirme en el emocionante universo de la programación de videojuegos y el desarrollo de aplicaciones.
                        Mi amor por la programación no se limita solo a los juegos; también disfruto de la creación de aplicaciones que tienen un impacto tangible en la vida diaria. Trabajar en proyectos que resuelven problemas y mejoran la forma en que interactuamos con la tecnología es lo que me impulsa.
                        Cuando no estoy frente a la pantalla, me encuentro explorando nuevas tecnologías, aprendiendo nuevos lenguajes de programación y manteniéndome al día con las últimas tendencias en el mundo del desarrollo de software. Creo en la importancia de la colaboración y la comunidad, y estoy emocionado por contribuir al crecimiento de este apasionante campo.
                        Acompáñame mientras navego por el fascinante mundo de la programación y la creación de aplicaciones!
                        Gracias por pasar por aquí y espero conectarnos pronto!</p>
                    <a href="https://www.linkedin.com/in/exequiel-moreyra-/" class="btn btn-primary" target="_blank">LinkedIn</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <img src="{% static 'miblog/images/nico.jpg' %}" class="card-img-top" alt="Imagen Persona 2">
                <div class="card-body">
                    <h5 class="card-title">Nicolas Dondo</h5>
                    <p class="card-text">Hola, Soy Nicolás Dondo
                        QA MANUAL Y DESARROLLADOR FRONTEND
                        Soy un apasionado e inquieto QA Manual con experiencia en proyectos Nacionales e Internacionales. 
                        En los mismos, trabajo bajo Metodologías Ágiles, SCRUM específicamente, validando y certificando la Calidad del Software. 
                        Mi experiencia incluye la creación y ejecución de casos de prueba, el reporte de bugs y resultados de pruebas, así como también pruebas de Integración, Retest, Regresión, Humo y UAT. Utilizo Jira como Gestor de Proyectos, Postman para realizar pruebas con APIs y Devtools para pruebas visuales. 
                        Me considero una persona con buenas capacidades de comunicación, trabajo en equipo y colaboración constante. <br>
                        Siempre busco la innovación y buenas prácticas para poder dar lo mejor de mí en los desafíos que participo. <br>
                        Poseo conocimientos de Postman, Jira, Trello, Clickcup y herramientas para la automatizacion de pruebas como Cypress, que utiliza Js para la creacion de pruebas. Actualmente me encuentro trabajando como QA para una importante empresa del mercado argentino</p>
                    <a href="https://www.linkedin.com/in/nicolas-dondo/" class="btn btn-primary" target="_blank">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
